#theportfolio {
    /* width: 159rem;
    height: 77rem; */
    width: 99rem;
    height: 100%;
    /* background-color: red; */
    position: relative;
}


.nayokapoto {
    border-radius: 20%;
    width: 200px;
    position: absolute;
    left: 45%;
}

.row {
    color: white;
}

.horizontalline {
    position: relative;
    height: 0.2PX;
    width: 100%;
    background-color: white;
}

.kanpadakudadhu {
    opacity: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.top-box {
    flex: 0 0 auto;
    padding: 20px;
    color: #ccc;
    text-align: center;
    /* Font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
     */
    font-family: 'Papyrus', cursive;

    animation: flicker 1.5s infinite alternate;

}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px rgb(255, 255, 255),
            0 0 80px rgb(255, 255, 255),
            0 0 90px rgb(255, 255, 255),
            0 0 100px rgb(255, 255, 255),
            0 0 150px rgb(255, 255, 255);

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.bottom-container {
    display: flex;
    color: #ccc;

    flex: 1;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 33.33%;
    padding: 10px;
    margin-right: 15px;
    margin-top: 30px;
    color: #ccc;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    transform: scale(1);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {

    .top-box,
    .box {
        flex: 1 1 100%;
    }
}


.maincontent {
    position: fixed;
    left: -60rem;
    top: -3rem;
    width: 140rem;
    height: 70rem;
}

.vanish {
    display: none;
}

.moveright {
    right: 30rem;
}

.dupbut {
    position: absolute;
    left: 18rem;
    z-index: 201;
    top: 43rem;
    animation: moveright 1.6s ease-in-out forwards;
}

@keyframes moveright {
    0% {
        left: 78rem;
        transform: scale(1.2);
    }

    5% {
        left: 78rem;
        transform: scale(1.8);

    }

    100% {
        left: 160rem;
        display: none;
        transform: scale(0.4);
    }
}

.circleforcover {
    position: fixed;
    top: 35rem;
    z-index: 800;
    left: 91.5rem;
    width: 100px;
    height: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.circleforcovermover {
    position: fixed;
    top: 35rem;
    left: 91.5rem;
    width: 100px;
    height: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0px;
    background-color: white;
    animation: circlecovermove 1.5s ease-in-out 1s forwards;

}

@keyframes circlecovermove {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(60);
    }

    100% {
        transform: scale(1);
    }
}

.logsupressinto {
    transition: all 1s ease-in;
    opacity: 0;
    /* transform: scale(0); */
}




.boxesdhitotest {
    margin-top: 70px;
    margin-left: 400px;
    width: 400px;
    height: 400px;
    background-color: aqua;
    animation: appear 5s linear;
}


@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);

    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}


.loginbox1 {
    position: fixed;
    z-index: 10;
    top: 6rem;
    left: 0rem;
    height: 40rem;
    width: 40rem;
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    transform: scale(1);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    /* animation: ukeatla 3s infinite; */
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    animation: paiki 3s ease-in-out 6s;

}

@keyframes paiki {
    0% {
        transform: scale(0) rotate(360deg);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.2);
    }
}

.loginbox1:hover {

    transform: scale(1.3);

}

.inpbox {
    position: absolute;
    left: 5rem;
    top: 8rem;
    width: 20rem;
    outline: none;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid whitesmoke;
    color: white;
    transition: all 0.4s ease-in-out;
}

.inpbox1 {
    position: absolute;
    left: 5rem;
    top: 14rem;
    width: 20rem;
    outline: none;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid whitesmoke;
    color: white;
    transition: all 0.4s ease-in-out;
}

.inpbox2 {
    position: absolute;
    left: 5rem;
    top: 20rem;
    width: 20rem;
    outline: none;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid whitesmoke;
    color: white;
    transition: all 0.4s ease-in-out;
}

.inpbox::placeholder {
    color: rgba(255, 255, 255, 0.447);

}

.inpbox1::placeholder {
    color: rgba(255, 255, 255, 0.447);
}

.inpbox1:focus {

    border-bottom: 3px solid whitesmoke;
    width: 31rem;
}

.inpbox:focus {
    border-bottom: 3px solid whitesmoke;
    width: 30.7rem;

}

.inpbox2:focus {
    border-bottom: 3px solid whitesmoke;
    width: 32rem;

}




.bb {
    position: fixed;
    z-index: 200;
    left: -30rem;
    top: -5rem;
    height: 81rem;
    width: 95rem;
    /* width: 88rem; */
    background-color: #3E115C;



}

/* .box11{
    position: absolute;
    z-index: 202;
    left: -40rem;
    top: -4rem;
    height: 60rem;
    width: 70rem;
    background-color: #58115C;

    
} */
/* .box12{
    position: fixed;
    z-index: 201;
    left: 10rem;
    top:-4rem;
    height: 11rem;
    width: 210rem;
    background-color: #32115C;

} */
.papyrus-text {
    position: absolute;

    font-family: 'Papyrus', sans-serif;
    color: #ffffff;
    line-height: 1.5;


}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px rgb(255, 255, 255),
            0 0 80px rgb(255, 255, 255),
            0 0 90px rgb(255, 255, 255),
            0 0 100px rgb(255, 255, 255),
            0 0 150px rgb(255, 255, 255);

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}


#loading-percentage {
    position: fixed;
    left: 10rem;
    top: 30rem;
    filter: brightness(90%);
    animation: flicker 1.5s infinite alternate;
    color: #fff;

}

.letter-l {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 5s infinite;
}

.letter-o {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 6s infinite;
}

.letter-a {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 5s infinite;
}

.letter-d {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 6s infinite;
}

.letter-i {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 5s infinite;
}

.letter-n {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 6s infinite;
}

.letter-g {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 5s infinite;
}

.letter-dot1 {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 6s infinite;
}

.letter-dot2 {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 5s infinite;
}

.letter-dot3 {
    font-family: 'Copperplate', 'Papyrus', fantasy;

    animation: ukeatla 6s infinite;
}

@keyframes ukeatla {
    0% {
        transform: translateY(3rem);
    }

    10% {
        transform: translateY(0rem);
    }

    20% {
        transform: translateY(3rem);
    }

    30% {
        transform: translateY(0rem);
    }

    40% {
        transform: translateY(3rem);
    }

    50% {
        transform: translateY(0rem);
    }

    60% {
        transform: translateY(3rem);
    }

    70% {
        transform: translateY(0rem);
    }

    80% {
        transform: translateY(3rem);
    }

    180% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(3rem);
    }

}

.container-fluid-11 {
    position: fixed;
    top: 10rem;
    left: 20rem;
    width: 60rem;
}

.whitebox1 {
    position: fixed;
    left: -50rem;
    top: 60rem;
    width: 0rem;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    transform: scale(1);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    animation: perugu 7s ease-in-out;
}

@keyframes perugu {
    0% {
        width: 0rem;
    }

    100% {
        width: 140rem;
    }

}

.inputname {
    position: fixed;
    left: 27rem;
    top: 8rem;
}

.inputemail {
    position: fixed;
    left: 27rem;
    top: 14rem;
}

.inputnum {
    position: fixed;
    left: 27rem;
    top: 20rem;
}

/* body{
background:$background-color; 
width:100%;
height:100%;
} */
.loading {
    text-transform: uppercase;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: bold;
    font-size: 100pt;
    text-align: center;
    height: 120px;
    line-height: 110px;
    vertical-align: bottom;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    display: block;
}

.loading-2 {
    top: 300px;
    width: 473px;
    height: 97px;
    font-size: 0;
    background: rgba(255, 255, 255, 0.06);
    margin: 0 auto;
}

.ff {
    position: absolute;
    font-size: 12pt;
    top: -20px;
    color: white;
    line-height: 12pt;

}

.loading-2-text {
    background-image: url('http://i66.tinypic.com/1jxje9.png');
    width: 473px;
    height: 97px;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        background-position: 0 bottom
    }


    100% {
        background-position: 200px bottom
    }

}

@keyframes loading-animation {
    0% {
        background-size: 200px 0px
    }

    

    100% {
        background-size: 200px 200px
    }

    
}

.wave {
    background-image: url('http://i66.tinypic.com/optxd3.png');
    @include background-clip(text);
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
    animation: wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
    background-size: 200px 100px;
    background-repeat: repeat-x;
    opacity: 1;
}

.wave-2 {
    @include background-clip(initial);
    display: inline-block;
}

body {
    transform: scale(0.5);
}

.loadingcontent {
    position: fixed;

}

#mainloginbutton {
    cursor: pointer;
    position: fixed;
    left: 18rem;
    z-index: 201;

    top: 30rem;
    transform: scale(1);
    transition: right 4s ease-in-out;
    transition: all 0.2s ease-in-out;

}


#mainloginbutton:hover {
    transform: scale(1.2);
}
.myimageforportfolio{
    position: relative;
    border-radius: 60%;
    width: 200px;
    height: 200px;
    left: 43%;
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.9);

}
#all-chat{
    color: lavender;
    font-size: 20px;
    width: 150rem;
    height: 44rem;
    overflow-y: auto; 
    overflow-x: hidden;
}
.acthiddenbro{
    opacity: 0;
    color: transparent;

    cursor: none;
}

#all-chat::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}
